/* HERO SECTION */
.hero-section {
  background-color: #fff0f5;
  padding: 60px 0;
}

.hero-box {
  background: white;
  padding: 40px;
  border-radius: 16px;
}

.hero-title {
  color: #d63384;
  font-weight: 1000;
  font-size: 80px;
  font-family: "Lucida Handwriting", cursive;
}

.hero-tagline {
  color: #555;
  font-family: "Lucida Handwriting", cursive;
}

/* BUTTON */
.pink-btn {
  background-color: #d63384;
  border: none;
  border-radius: 25px;
  padding: 8px 22px;
}

.pink-btn:hover {
  background-color: #c2186a;
}

/* IMAGE CONTAINER */
.image-placeholder {
  background-color: #f3d6df;
  height: 280px;
  border-radius: 16px;
  overflow: hidden;           
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGE FIT */
.placeholder-img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
}

/* SECTIONS */
.section {
  padding: 60px 0;
}

.section-title {
  color: #d63384;
  font-weight: 600;
}

/* TEXT BLOCK */
.text-lines {
  color: #555;
  line-height: 1.8;
}

/* TESTIMONIALS */
.testimonial-box {
  margin-top: 30px;
  background-color: #f3d6df;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-content {
  flex: 1;
  text-align: center;
  color: #555;
}

.arrow {
  font-size: 30px;
  cursor: pointer;
  padding: 0 20px;
  color: #d63384;
}
/* TESTIMONIAL CAROUSEL */
.testimonial-carousel {
  margin-top: 30px;
}

.testimonial-slide {
  background-color: #f3d6df;
  border-radius: 16px;
  padding: 50px 30px;
  text-align: center;
}

.testimonial-text {
  font-style: italic;
  color: #555;
  font-size: 16px;
  margin-bottom: 15px;
}

.testimonial-name {
  color: #d63384;
  font-weight: 600;
}
